<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Input Form</h1>
    <form method="post">
        <label for="num1">Number 1:</label>
        <input type="text" id="num1" name="num1" value="{{ num1 }}"><br>

        <label for="num2">Number 2:</label>
        <input type="text" id="num2" name="num2" value="{{ num2 }}"><br>

        <label for="num3">Number 3:</label>
        <input type="text" id="num3" name="num3" value="{{ num3 }}"><br>

        <label for="num4">Number 4:</label>
        <input type="text" id="num4" name="num4" value="{{ num4 }}"><br>

        <label for="num5">Number 5:</label>
        <input type="text" id="num5" name="num5" value="{{ num5 }}"><br>

        <label for="num6">Number 6:</label>
        <input type="text" id="num6" name="num6" value="{{ num6 }}"><br>

        <label for="num7">Number 7:</label>
        <input type="text" id="num7" name="num7" value="{{ num7 }}"><br>

        <label for="num8">Number 8:</label>
        <input type="text" id="num8" name="num8" value="{{ num8 }}"><br>

        <label for="num9">Number 9:</label>
        <input type="text" id="num9" name="num9" value="{{ num9 }}"><br>

        <label for="num10">Number 10:</label>
        <input type="text" id="num10" name="num10" value="{{ num10 }}"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
